	body{
		padding-top: 50px;
		list-style:none;
	}
	td{
		text-align: center;
		border-bottom: 1px solid #e6e6e6;
	}
	input{
		border: none;
	}
	input:focus{
		outline: none;
	}
	#btn{
		border: none;
	}
	#btn:hover{
		background-color: white;
	}
	.container{
		padding:0px;
	}
	.navbar-brand{
		margin-left:2em;
	}